:root{
    --html-background-color: white;
    --element-background-color: white;
    --button-background-color: #FF8800;
    --primary-color: #FF8800;
    --primary-bg-color: #ffc582;
    --primary-border-color: #FF8800;
    --primary-indicator-selected-color: #f1f5ff;
    --main-text-color: black;
    --element-text-color: black;
    --result-text-color: black;
    --default-border-radius: 1px;
    --default-border-width: 1px;
    --loader-invert-colors: 100%;
}

body {
    font-family: Montserrat;
    margin-top: 25px; /* Just for testing */
    background-color: var(--html-background-color);
    color: var(--main-text-color);
}

button {
    font-family: Montserrat;
    font-size: 18px;
    width: 136px;
    height: 44px;
    border: var(--default-border-width) solid var(--primary-color);
    border-radius: var(--default-border-radius);
    outline: none;
    background-color: var(--button-background-color);
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    transition-duration: 100ms;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    color: var(--element-text-color);
}

button:hover {
    background-color: var(--primary-bg-color);
    border: var(--default-border-width) solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

table {
    font-family: Montserrat;
    font-size: 16px;
    border-collapse: collapse;
    width: 350px;
    margin-top: 18px;
    margin-left: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    color: var(--element-text-color);
}

table td, table th {
    border: var(--default-border-width) solid var(--primary-color);
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--primary-bg-color);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container > div {
    margin: 0px 8px 0px 8px;
}

.container-clean {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-container {
    margin: 0px 0px 0px 0px;
}

.input-container p {
    font-size: 16px;
    margin: 0px 0px 6px 0px;
}

.input-box {
    display: flex;
    align-items: center;
    border: var(--default-border-width) solid var(--primary-border-color);
    border-radius: var(--default-border-radius);
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 16px;
    background-color: var(--element-background-color);
}

.input-box .number-input {
    font-family: Montserrat;
    font-size: 16px;
    padding: 11px 8px 11px 5px;
    border: none;
    outline: none;
    transition-duration: 100ms;
    -moz-appearance: textfield;
    background-color: var(--element-background-color);
    color: var(--element-text-color);
}

.input-box .selection-input {
    font-family: Montserrat;
    font-size: 16px;
    padding: 11px 8px 11px 5px;
    border: none;
    outline: none;
    transition-duration: 100ms;
    cursor: pointer;
    background-color: var(--element-background-color);
    color: var(--element-text-color);
}

.selection-input-dropdown {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 120px;
    width: 300px;
    max-height: 220px;
    min-height: 220px;
    text-align: center;
    background-color: var(--element-background-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--element-text-color);
}

.selection-input-dropdown button {
    padding: 0px 0px 0px 8px;
    margin: 0;
    border: none;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    text-align: left;
    color: var(--element-text-color);
}

#dropdown-loader {
    position: relative;
    margin-top: 88px;
    width: 35px;
    -webkit-filter: invert(var(--loader-invert-colors));
    filter: invert(var(--loader-invert-colors));
}

.switch-indicator {
    display: flex;
    align-items: center;
    border: var(--default-border-width) solid var(--primary-border-color);
    width: 125px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition-duration: 100ms;
}

.switch-indicator p {
    display: block;
    margin: auto;
    font-family: Montserrat;
    font-size: 16px;
    padding: 11px 11px 11px 11px;
    cursor: default;

    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch-indicator-active {
    background-color: var(--primary-bg-color);
    border: var(--default-border-width) solid var(--primary-color);
}

.input-box input::-webkit-outer-spin-button,
.input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-box .prefix {
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 5px;
}

.switch-button {
    width: 50px;
    height: 50px;
    border: var(--default-border-width) solid var(--primary-color);
    outline: none;
    background-color: var(--element-background-color);
    border-radius: 25px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    transition-duration: 50ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.switch-button svg {
    display: block;
    width: 15px;
    height: 15px;
    margin: auto;
    padding: 0px;
    color: var(--primary-color);
}

.result-popup {
    transform: translate(0px, 25px);
    padding: 16px 20px 16px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: 500px;
    text-align: center;
    background-color: white;
    border: var(--default-border-width) solid black;
}

.result-popup h1 {
    font-size: 38px;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    color: var(--result-text-color);
    transition: 50ms;
}

.result-popup h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: var(--result-text-color);
    transition: 50ms;
}

.result-popup p {
    font-size: 18px;
    padding: 2px 0px 0px 0px;
    margin: 0px;
    color: var(--result-text-color);
    transition: 50ms;
}

.table-popup {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#calculate-button-loader {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

hr {
    width: 100%;
    transition: 250ms;
}

@media only screen and (max-width: 580px) {
    .result-popup{
        min-width: 0px;
    }
}

@media only screen and (max-width: 318px) {
    .switch-button{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}